@font-face {
    font-family: Jost;
    font-weight: 400;
    src: local('Jost'),
    url('../fonts/Jost-Regular.woff2') format('woff2'),
    url('../fonts/Jost-Regular.woff') format('woff');
}

@font-face {
    font-family: Jost;
    font-weight: 500;
    src: local('Jost'),
    url('../fonts/Jost-Medium.woff2') format('woff2'),
    url('../fonts/Jost-Medium.woff') format('woff');
}

@font-face {
    font-family: Jost;
    font-weight: 600;
    src: local('Jost'),
    url('../fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../fonts/Jost-SemiBold.woff') format('woff');
}

@font-face {
    font-family: Jost;
    font-weight: 700;
    src: local('Jost'),
    url('../fonts/Jost-Bold.woff2') format('woff2'),
    url('../fonts/Jost-Bold.woff') format('woff');
}